body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

html,
body {
  height: 100%;
  box-sizing: border-box;
}


*,
*:before,
*:after {
  box-sizing: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  height: 6rem;
}

header>h1 {
  font-size: 2.25rem;
  margin: 0;
}

header>h1>span {
  background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%);
  background-blend-mode: multiply, multiply;

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.width-limiter {
  max-width: 1080px;
  margin: 0 auto;
}
